/* colors */

* {
  al:      #00000000;
  bg:      #000000;
  se:      #2D142Cff;
  fg:      #ffffff;
  ac:      #f5a2b5;
  red:     #EC7875ff;
  green:   #61C766ff;
  yellow:  #FDD835ff;
  blue:    #42A5F5ff;
  purple:  #BA68C8ff;
  cyan:    #4DD0E1ff;
}
